---
layout: page
title: Hackathon
---
<style>
    div.hackathon-section{
      font-size: 16px;
      font-weight: 400;
      margin-top: 0;
      /* font-style: italic; */
      margin-bottom: 140px;
      text-transform: none;
      line-height: 1.7;

    }
    p.section-text {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;
  }
  h2.hackathon-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  h3.hackathon-heading {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .custom_li{
    margin-top: 4%;
}
  </style>

{% include hackathon_about.html %}
{% include hackathon_components.html %}
{% include hackathon_outcomes.html %}
{% include hackathon_details.html %}



