<!--Learning outcomes, 4th part-->
<div class="container">
    <div class="row">

        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="fellowship-heading">Application Details</h2>
                <div class="fellowship-section">
                    <p class="section-text">Application Open: <strong>July 5<sup>th</sup>, 2026</strong><br>
                    Deadline to Apply: <strong>Rolling till August 30<sup>th</sup>, 2026</strong><br>
                    Number of seats: <strong>Limited</strong>
                    </p>
                    Applicants must meet the following criteria to apply
                    <ol>
                        <li class="custom_li">Nepalis in and outside of Nepal. Nepali women, youths, and professionals (especially those from <strong>Province 2 and Province 6</strong>) are highly encouraged to apply.</li>
                        <li class="custom_li">High school degree or above</li>
                        <li class="custom_li">Highly interested in completing the course</li>
                    </ol>
                    <p class="section-text">
                    We will call for short orientation program if you are shortlisted. The selected fellows must complete all the phases of the program to receive certification.
                    </p>
                    <p class="section-text">You only have to fill one application form.
                    </p>
                </div>
            </div>            
        </div>

        <div class="col-md-6 d-flex">
            <div style="padding: 20%;">
                <img src="/assets/img/application.svg" class="img-fluid">
                <div class='text-center ctan-section' style='margin-top:6rem;'>
                    <a href='https://docs.google.com/forms/d/e/1FAIpQLSfjd4VXYxSOxc707VXc9gwVJ2k8urkRR258AMFgD0eqDGpgWA/viewform' class='btn btn-primary btn-lg' target='_blank' style='padding:18px 40px; font-size:1.4rem; border-radius:8px;'>Apply Now</a>
                </div>
            </div>  
        </div>
    </div>    
</div>