
<!--About the program, 1st part-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="fellowship-heading text-uppercase" style="color: #00ADEF; margin-bottom: 40px;">{{ site.data.fellowship.about.title}}</h2>
                <div class="fellowship-section" style="margin-bottom: 20px;">{{ site.data.fellowship.about.text | markdownify}}</div>
            </div>
        </div> 

        <!-- <div style="display: flex; justify-content: center; margin-bottom: 20px; ">
            <img src="/assets/img/data_fellowship_2025.jpeg" style="width: 500px;">
        </div> -->
        <div style="display: flex; justify-content: center; margin-bottom: 140px;">
            <img src="/assets/img/c4n_logo.png" style="height: 4rem; margin-right: 1%;">
            <img src="/assets/img/datacamp.png" style="height: 4rem; margin-left: 1%;">
        </div>

        <div class="row">
            <div class="col-md-6 d-flex">
                <div style=" padding: 8%; ">
                    <img src="/assets/img/data.svg" class="img-fluid" >
                </div>
                
            </div>

            <div class="col-md-6 d-flex" style="align-items: center">
                <div class="align-self-center">
                    <h2 class="fellowship-heading ">About the program</h2>
                    <div class="fellowship-section">
                        {{ site.data.fellowship.about.about_program}}
                    </div>
                </div>
            </div>

            
        </div>   
        
    </div>

    