<!--Fellowship components, 2nd part-->
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="fellowship-heading ">Fellowship components</h2>
                <div class="fellowship-section">
                    <h3 class="fellowship-heading">Step 1: Datacamp Courses</h3>
                    <p class="section-text">Fellows should complete the DataCamp course in the given timeframe to enhance their data and digital skills.
                        (Every fellow has 3 months to complete their DataCamp course from the date they get access to DataCamp.)</p>
                    
                    <h3 class="fellowship-heading">Step 2: Assignment</h3>
                    <p class="section-text">Fellows should submit the assignment in the form of fellowship-section blog post, data visualization in any form of publishable output.</p>

                    <!-- <h3 class="fellowship-heading">Step 3: Soft Skills Development</h3>
                    <p class="section-text">Fellows will go through the soft skills development training, in collaboration with Resume Didi.</p>
                     -->
                    <h3 class="fellowship-heading">Step 3: Support</h3>
                    <p class="section-text">Fellows get an opportunity to further work on the organization project, recommendation of the job and internship and other support opportunities.</p><br>
                    <p class="section-text">For those who are already employed or have bachelors degree, only Step 1 and Step 2 are required to complete this Fellowship program.</p>

                        
                </div>
            </div>            
        </div>

        <div class="col-md-6 d-flex">
            <div style=" padding: 8%; ">
                <img src="/assets/img/approach.svg" class="img-fluid" >
            </div>
            
        </div>
    </div>    
</div>
