
<!--About the program, 1st part-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="fellowship-heading text-uppercase" style="color: #00ADEF; margin-bottom: 40px;">{{ site.data.fellowship.about.title}}</h2>
                <div class="fellowship-section" style="margin-bottom: 20px;">{{ site.data.fellowship.about.text | markdownify}}</div>
            </div>
        </div> 

        <div style="display: flex; justify-content: center; margin-bottom: 20px; ">
            <img src="/assets/img/fellow_main.svg" style="width: 400px;">
        </div>
        <div style="display: flex; justify-content: center; margin-bottom: 140px;">
            <img src="/assets/img/c4n_logo.png" style="height: 4rem; margin-right: 1%;">
            <img src="/assets/img/datacamp.png" style="height: 4rem; margin-left: 1%;">
        </div>

        <div class="row">
            <div class="col-md-6 d-flex">
                <div style=" padding: 8%; ">
                    <img src="/assets/img/data.svg" class="img-fluid" >
                </div>
                
            </div>

            <div class="col-md-6 d-flex" style="align-items: center">
                <div class="align-self-center">
                    <h2 class="fellowship-heading ">About the program</h2>
                    <div class="fellowship-section">
                        The Data Fellowship includes:
                        <ol>
                        <li>A DataCamp Premium subscription to take courses and earn certificates.</li>
                        <li>Opportunity to publish data visualizations and blog posts via Code for Nepal site. (When data visualizations and or blog posts of fellows who have earned DataCamp certificate will be selected to be published by Code for Nepal, will get Nrs 5,000 in stipend for every post.) </li>
                        <li>Industry/academia expert teaching assistants (offline and online) to support learning, community participation.</li>
                        <li>Involvement in Open Source Projects.</li>
                        <li>A digital certificate from Code for Nepal after the completion of the fellowship.</li>
                        <li>Opportunity to contribute to amazing open source data projects after completion of the program.</li>
                        <li>Opportunity be part of Code For Nepal Community.</li>
                        </ol>
                    </div>
                </div>
            </div>

            
        </div>   
        
    </div>

    