<!--Learning outcomes, 3rd part-->
<div class="container fellowship-section">
    <div class="row">
        <div class="col-md-6 d-flex">
            <div style=" padding: 10%; ">
                <img src="/assets/img/learning.svg" class="img-fluid" >
            </div>    
        </div>

        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="fellowship-heading ">Learning outcomes of the fellowship</h2>
                <div>
                    <ol>
                        <li class="custom_li">Community-based learning</li>
                        <li class="custom_li">Involvement in Data-oriented project</li>
                        <li class="custom_li">Mentorship sessions (online) via Slack</li>
                        <li class="custom_li">Certification of Completion</li>
                    </ol>
                </div>
            </div>            
        </div>

        
    </div>    
</div>
