<!--Learning outcomes, 3rd part-->
<div class="container hackathon-section">
    <div class="row">
        <div class="col-md-6 d-flex">
            <div style=" padding: 10%; ">
                <img src="https://img.freepik.com/premium-vector/1st-2nd-3rd-places-gold-silver-bronze-medal-first-second-third-place-award-winner-trophy-with-red-ribbon-golden-badge-achievement-vector-flat-design-isolated-white-background_153097-392.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1700265600&semt=ais" class="img-fluid" >
            </div>    
        </div>

        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="hackathon-heading ">Prizes:</h2>
                <div>
                    <ol>
                        <li class="custom_li"><strong>First Place:</strong> NRs. 50,000</li>
                        <li class="custom_li"><strong>Second Place:</strong> NRs. 30,000</li>
                        <li class="custom_li"><strong>Third Place:</strong> NRs. 20,000
                        </li>
                    </ol>
                </div>
            </div>            
        </div>
    </div>    
</div>
