<!--hackathon components, 2nd part-->
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="hackathon-heading ">Modality</h2>
                <div class="hackathon-section">
                    <h3 class="hackathon-heading">Team Composition</h3>
                    <p class="section-text">Gather your brainiest innovators; teams should comprise 3-6 members.
                    </p>
                    
                    <h3 class="hackathon-heading">Data Usage</h3>
                    <p class="section-text">Dive into the vast ocean of non-proprietary data to fuel your creations.</p>

                    <h3 class="hackathon-heading">Eligibility of Projects</h3>
                    <p class="section-text">We're looking for fresh ideas! Previously developed projects are not permitted.</p><br>
                    

                        
                </div>
            </div>            
        </div>

        <div class="col-md-6 d-flex">
            <div style=" padding: 8%; ">
                <img src="/assets/img/approach.svg" class="img-fluid" >
            </div>
            
        </div>
    </div>    
</div>
