<!--hackathon components, 2nd part-->
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="hackathon-heading ">Modality</h2>
                <div class="hackathon-section">
                    <h3 class="hackathon-heading">Team Composition</h3>
                    <p class="section-text">Gather your brainiest innovators; teams should comprise 3-6 members. If you do not have a team, you can apply individually, and a team will be assigned to you.
                    </p>
                    
                    <h3 class="hackathon-heading">Data Usage</h3>
                    <p class="section-text">Dive into the vast ocean of non-proprietary data to fuel your creations. The data that you use should be accessible to anyone else who wants to replicate your project. You can scrape data, but make sure the source you scrape from allows it. Finally, the data should be relevant with Nepal. </p>

                    <h3 class="hackathon-heading">Eligibility of Projects</h3>
                    <p class="section-text">We're looking for fresh ideas, or twist in previous ideas! Previously developed projects are not permitted. The project can be a dashboard, a report, a Machine Learning model, a simple statistical model with huge impact, data catalog, data portal, or anything else preapproved from Code For Nepal team.</p><br>
                    

                        
                </div>
            </div>            
        </div>

        <div class="col-md-6 d-flex">
            <div style=" padding: 8%; ">
                <img src="/assets/img/approach.svg" class="img-fluid" >
            </div>
            
        </div>
    </div>    
</div>
