<!--Learning outcomes, 3rd part-->
<div class="container hackathon-section">
    <div class="row">
        <div class="col-md-6 d-flex">
            <div style=" padding: 10%; ">
                <img src="/assets/img/learning.svg" class="img-fluid" >
            </div>    
        </div>

        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="hackathon-heading ">Expectations for Outputs:</h2>
                <div>
                    <ol>
                        <li class="custom_li"><strong>Data-Driven Projects:</strong> A semi-complete project that you can demonstrate you can complete.</li>
                        <li class="custom_li"><strong>Impactful Projects:</strong> What you propose to create, should create a dent in the Nepal data ecosystem, regardless of how small it is.</li>
                        <li class="custom_li"><strong>Presentation:</strong> You will be mostly judged on how you present your ideas.
                        </li>
                    </ol>
                </div>
            </div>            
        </div>
    </div>    
</div>
