<!--Learning outcomes, 4th part-->
<div class="container">
    <div class="row">

        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="hackathon-heading ">Timeline Details</h2>
                <div class="hackathon-section">
                    <p class="section-text">Application Open: <strong> January 12, 2024 </strong><br>
                    Deadline to Apply: <strong> February 5th, 2024</strong><br>
                    Finalization of Team and Project: <strong> February 10th, 2024</strong><br>
                    Teams working async/sync (up to you): <strong> February 10th - Mar 15th, 2024</strong><br>
                    Hackathon presentation date: <strong>Mar 15th, 2024</strong> 
                    </p>
                    Applicants must meet the following criteria to apply:
                    <p class="section-text">
                    <ol>
                        <li class="custom_li">At least 50% of your team members should be in Kathmandu for the presentation (Mar 15th, 2024).</li>
                        <li class="custom_li">At least one of the team members should have the technical know how to deliver the project.</li>
                    </ol>
                    
                    </p>
                </div>
            </div>            
        </div>

        <div class="col-md-6 d-flex">
            <div style=" padding: 20%; ">
                <img src="/assets/img/application.svg" class="img-fluid" >
            </div>    
        </div>

        
    </div>    
</div>

<div style="background-color:#FCFBFB; width: 100%;">
    <div class="hackathon-section">
        <div class="text-center" style="margin-bottom: 80px;">
        <h2 class="hackathon-heading " style="padding-top: 40px;">APPLICATION WILL OPEN SOON, STAY TUNED</h2>
        </div>
        <div style="display: flex;
        justify-content: center;">

    </div>
</div>
