<!--Learning outcomes, 4th part-->
<div class="container">
    <div class="row">

        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="hackathon-heading ">Application Details</h2>
                <div class="hackathon-section">
                    <p class="section-text">Application Open: <strong> June 03, 2023 </strong><br>
                    Deadline to Apply:<strong> June 29, 2023</strong><br>
                    Number of seats:<strong> 150</strong><br>
                    </p>
                    Applicants must meet the following criteria to apply
                    <p class="section-text">
                    <ol>
                        <li class="custom_li">Able to complete the program</li>
                        <li class="custom_li">High school degree or above</li>
                        <li class="custom_li">Background in basic programming</li>
                    </ol>
                    </p>
                    <p class="section-text">
                    We will call for interviews if you are shortlisted. The selected fellows must complete all the phases of the program to receive certification.
                    </p>
                    <p class="section-text">You only have to fill one application form.
                    </p>
                </div>
            </div>            
        </div>

        <div class="col-md-6 d-flex">
            <div style=" padding: 20%; ">
                <img src="/assets/img/application.svg" class="img-fluid" >
            </div>    
        </div>

        
    </div>    
</div>

<div style="background-color:#FCFBFB; width: 100%;">
    <div class="hackathon-section">
        <div class="text-center" style="margin-bottom: 80px;">
        <h2 class="hackathon-heading " style="padding-top: 40px;">APPLICATION WILL OPEN SOON, STAY TUNED</h2>
        </div>
        <div style="display: flex;
        justify-content: center;">

    </div>
</div>
