<!--Learning outcomes, 4th part-->
<div class="container">
    <div class="row">

        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="hackathon-heading ">Timeline Details</h2>
                <div class="hackathon-section">
                    <p class="section-text">Application Open: <strong> January 12, 2024 </strong><br>
                    Deadline to Apply: <strong> February 5th, 2024</strong><br>
                    Finalization of Team and Project: <strong> February 10th, 2024</strong><br>
                    Teams working async/sync (up to you): <strong> February 10th - Mar 15th, 2024</strong><br>
                    Hackathon presentation date: <strong>Mar 15th, 2024</strong> 
                    </p>
                    Applicants must meet the following criteria to apply:
                    <p class="section-text">
                    <ol>
                        <li class="custom_li">At least 50% of your team members should be in Kathmandu for the presentation (Mar 15th, 2024).</li>
                        <li class="custom_li">At least one of the team members should have the technical know how to deliver the project.</li>
                    </ol>
                    
                    </p>
                </div>
            </div>            
        </div>

        <div class="col-md-6 d-flex">
            <div style=" padding: 20%; ">
                <img src="/assets/img/application.svg" class="img-fluid" >
            </div>    
        </div>

        
    </div>    
</div>


<!-- Partners Section -->
<div style="background-color: #FCFBFB; width: 100%;">
    <div class="hackathon-section">
        <div class="text-center" style="margin-bottom: 80px;">
            <h2 class="hackathon-heading" style="padding-top: 40px;">Partners</h2>
        </div>

        <!-- Logos of Partners -->
        <div style="display: flex; justify-content: space-around; align-items: center; margin-bottom: 20px;">

            <!-- Partner 1 -->
            <a href="https://codefornepal.org/" target="_blank" style="text-decoration: none;">
                <img src="https://codefornepal.org/assets/img/c4n_logo.png" alt="Code For Nepal Logo" style="width: 150px; height: auto;">
            </a>

            <!-- Partner 1 -->
            <a href="https://www.cloudfactory.com/" target="_blank" style="text-decoration: none;">
                <img src="https://mms.businesswire.com/media/20230118005069/en/1554618/22/cf-logo-blue-2022.jpg" alt="Cloudfactory Logo" style="width: 150px; height: auto;">
            </a>

        </div>

    </div>
</div>


<div style="background-color:#FCFBFB; width: 100%;">
    <div class="hackathon-section">
        <div class="text-center" style="margin-bottom: 80px;">
            <h2 class="hackathon-heading " style="padding-top: 40px;">FAQs</h2>
        </div>

        <!-- FAQ Section -->
        <div style="display: flex; justify-content: center;">
            <div style="width: 70%;">

                <!-- FAQ 2 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: What is the focus of the hackathon, and in which domains can teams work?</h3>
                    <p style="color: #555;">A: The hackathon encourages teams to explore diverse domains such as environment, healthcare, transportation, and more. Participants are challenged to craft open-sourced and well-documented projects using non-proprietary data, with an emphasis on creating Minimum Viable Products (MVPs).</p>
                </div>

                <!-- FAQ 3 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: How should teams be composed for the hackathon?</h3>
                    <p style="color: #555;">A: Teams should consist of 3-6 members. If you don't have a team, you can apply individually, and Code For Nepal will assign a team to you.</p>
                </div>

                <!-- FAQ 4 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: What are the eligibility criteria for projects? Can previously developed projects be submitted?</h3>
                    <p style="color: #555;">A: Projects should be innovative and fresh. Previously developed projects are not permitted. The project can take various forms, including dashboards, reports, Machine Learning models, statistical models, data catalogs, or anything else preapproved by the Code For Nepal team.</p>
                </div>

                <!-- FAQ 5 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: What are the expectations for project outputs?</h3>
                    <p style="color: #555;">A: Teams are expected to present semi-complete data-driven projects with significant impact on the Nepal data ecosystem. Creativity and innovation in project proposals are key, and teams will be judged based on their ability to effectively communicate their ideas.</p>
                </div>

                <!-- FAQ 6 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: What is the timeline for Data Crunch 2024, and when can teams apply?</h3>
                    <p style="color: #555;">A: The application period is open from January 12, 2024, to February 5th, 2024. The timeline includes team and project finalization on February 10th, asynchronous/synchronous work from February 10th to March 15th, and the hackathon presentation on March 15th, 2024.</p>
                </div>

                <!-- FAQ 7 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: Are there specific criteria for applicants, and do team members need to be physically present?</h3>
                    <p style="color: #555;">A: Applicants must meet specific criteria, including having at least 50% of team members in Kathmandu for the presentation on March 15th, 2024. Additionally, at least one team member should possess the technical expertise required to deliver the project.</p>
                </div>

                <!-- Additional FAQs -->

                <!-- FAQ 8 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: Where do I ask additional questions regarding the hackathon, application process, expectations, etc.?</h3>
                    <p style="color: #555;">A: Use Code For Nepal Slack, and find the channel <a href="https://codefornepal.slack.com/archives/C06DD16JYBG">#data-crunch-hackathon-2024</a></p>
                </div>

                <!-- FAQ 9 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: Do I need to be a previous or current Code For Nepal Fellow to participate?</h3>
                    <p style="color: #555;">A: No, the hackathon is open to everyone.</p>
                </div>

                <!-- FAQ 10 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: Will you help us find data for the hackathon?</h3>
                    <p style="color: #555;">A: No</p>
                </div>

                <!-- FAQ 11 -->
                <div style="margin-bottom: 20px;">
                    <h3 style="color: #333; font-size: 1.2em;">Q: How will we be judged?</h3>
                    <p style="color: #555;">A: On presentation and documentation (20%), impact (20%), work completed (40%), and confidence in you being able to complete the work post hackathon (20%)</p>
                </div>

            </div>
        </div>

    </div>
</div>



<div style="background-color:#FCFBFB; width: 100%;">
    <div class="hackathon-section">
        <div class="text-center" style="margin-bottom: 80px;">
            <h2 class="hackathon-heading" style="padding-top: 40px;">APPLICATION OPEN</h2>
        </div>
        <div style="display: flex; justify-content: center;">
            <a href="https://data-crunch.devfolio.co/" target="_blank" style="text-decoration: none;">
                <button style="padding: 10px 20px; background-color: #54bfff; color: white; border: none; border-radius: 5px; cursor: pointer;">
                    Apply via Devfolio
                </button>
            </a>
        </div>
    </div>
</div>

