<!--Learning outcomes, 3rd part-->
<div class="container hackathon-section">
    <div class="row">
        <div class="col-md-6 d-flex">
            <div style=" padding: 10%; ">
                <img src="/assets/img/learning.svg" class="img-fluid" >
            </div>    
        </div>

        <div class="col-md-6 d-flex" style="align-items: center">
            <div class="align-self-center">
                <h2 class="hackathon-heading ">Expectations for Outputs:</h2>
                <div>
                    <ol>
                        <li class="custom_li"><strong>Data-Driven Projects:</strong> Harness the power of data to drive your innovations.</li>
                        <li class="custom_li"><strong>Functional Projects:</strong> We expect working prototypes, proof-of-concept solutions, or fully functional software. Bonus points for compelling infographics!</li>
                        <li class="custom_li"><strong>Presentation:</strong> A brief yet insightful documentation of your project is essential.
                        </li>
                    </ol>
                </div>
            </div>            
        </div>
    </div>    
</div>
