<head>
  {% if site.analytics.google %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.analytics.google }}');
  </script>
  <!-- End Google Analytics -->
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
    <meta
      name="keyword"
      content="code for nepal, c4n, volunteer, code, nepal"
    />
    <meta property="og:locale" content="en_US">
    <meta property="fb:pages" content="201272103415379">
<meta property="og:type" content="website">
<meta property="og:title" content="Code for Nepal">
<meta property="og:description" content="Code for Nepal works to increase digital literacy and use of open data.">
<meta property="og:url" content="https://codefornepal.org{{ site.baseurl }}/assets/img/c4n_logo.png">
<meta property="og:site_name" content="Code for Nepal">
<meta property="og:image" content="https://codefornepal.org{{ site.baseurl }}/assets/img/c4n_logo.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Working to increase digital literacy and use of open data in Nepal.">
<meta name="twitter:title" content="Code for Nepal">
<meta name="twitter:site" content="@codefornepal">
<meta name="twitter:image" content="https://codefornepal.org{{ site.baseurl }}/assets/img/c4n_logo.png">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" href="/assets/img/c4n-icon.jpg">

  <title>{% if page.title %}{{ page.title | append: " | " | append: site.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="/assets/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom fonts for this template -->
  <link href="/assets/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this theme -->
  <link href="/assets/css/agency.css" rel="stylesheet">

  <!-- Page container change top padding when nav shrinks -->
  {% if (page.layout == "page" or page.layout == 'post') %}
  <style>
    #pagecontainer {
      padding-top: 150px;
    }

    @media only screen and (max-width: 991px) {
      #pagecontainer {
        padding-top: 100px;
      }
    }
  </style>
  {% endif %}

</head>