<div class="container">
  <a class="navbar-brand js-scroll-trigger" href="/#">
    <img src="{{ site.baseurl}}/assets/img/c4n_logo.png" width="200px" alt="CodeForNepal"></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
    aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ml-auto">
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#services">Services</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#timeline">About</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#team">Team</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#contact">Contact</a></li>
      </li>
    </ul>
  </div>
</div>