<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.portfolio.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow blog-card" id="blog-card">
          <img class="card-img-top" id="card-blog" src="/assets/img/team/500x500.jpg" alt="img">
          <div class="card-body">
            <p class="card-text">
              Some pre intro text about the blog
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow blog-card">
          <img class="card-img-top" id="card-blog" src="/assets/img/team/500x500.jpg" alt="img">
          <div class="card-body">
            <p class="card-text">
              Some pre intro text about the blog
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow blog-card">
          <img class="card-img-top" id="card-blog" src="/assets/img/team/500x500.jpg" alt="img">
          <div class="card-body">
            <p class="card-text">
              Some pre intro text about the blog
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>