---
layout: page
title: Blog
pagination: 
  enabled: true
---
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center mb-4">Blog</h1>
  </div>

  {% for post in paginator.posts %}
  <div class="col-md-8 offset-2">
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <small class="text-secondary">Published {{ post.date | date: '%B %d, %Y' }}</small>
        <p class="card-text">{{ post.excerpt }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row">
{% if paginator.total_pages > 1 %}
<ul class="paginator-links-list d-flex justify-content-between">
  {% if paginator.previous_page %}
  <li>
    <a class="paginator-link btn btn-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a class="btn btn-primary" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
  </li>
  {% endif %}
</ul>
{% endif %}
</div>