<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:url" content="{{ site.url | append: page.url }}">
<meta property="og:site_name" content="Code for Nepal">
<meta property="og:image" content="{{ page.bigimg }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:site" content="@codefornepal">
<meta name="twitter:image" content="{{ page.bigimg }}">
<link rel="canonical" href="https://codefornepal.org/">
<link rel="icon" href="/assets/img/c4n-icon.jpg">