.card{
    border:none;
    img{
        width: 100% !important;
    }
}

.container{
    &.blog{
        max-width: 750px;
        @include mq(phablet,min){
            padding: 0 64px;
        }
        img{
            width: 100%;
        }
        .title{
            font-weight: 400;
            font-size: 40px;
            margin-bottom: 20px;
        }
        figcaption{
            margin-top: 8px;
            font-size: 14px;
        }
        p,span{
            @extend .clean-text
        }
    }
}