// Global styling for this template
body {
  overflow-x: hidden;
  // @include body-font;
  @extend %base-font-style;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  // @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  h3.section-heading {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    // @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 0px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
.blog-list {
  list-style: none;
  .blog-list-item {
    margin: 3% 0 3% 0;
  }
}
.paginator-links-list {
  list-style: none;
}

%base-font-style{
  letter-spacing: -0.003em;
  line-height: 32px;
  font-weight: 200 !important;
}
.clean-text {
  @extend %base-font-style;
  font-size: 21px;
  margin: 30px 0;
}